.header{
    background-color: rgb(36, 17, 131);
    font-size: large;
}

.header__icon_color-white,
.header__text-block_color-white{
    color:white
}

.logo-image{
    max-width: 15vw;
}
/* 
.navbar-nav{
    margin-left: 20vw;
} */

.nav-item{
    color: rgb(36, 17, 131);
}

.text-blue{
    color: rgb(36, 17, 131) !important;
    font-weight: 500;
}

.navbar li a:hover{
    color: rgb(7, 215, 173) !important;
}

@media (max-width: 768px){
    .logo-image{
        max-width: 60vw;
    }
}